<!-- INCLUDECSS {T_THEME_PATH}/comboot/bootstrap.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/comboot/font-awesome.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/comboot/colorpicker.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/comboot/select.min.css -->
<!-- INCLUDECSS {T_THEME_PATH}/comboot/highlight.min.css -->
<!-- IF $LIGHTBOX == 1 -->
	<!-- INCLUDECSS {T_THEME_PATH}/comboot/lightbox.min.css -->
<!-- ENDIF -->
<!-- IF $VALUE_SLIDER == 1 -->
	<!-- INCLUDECSS {T_THEME_PATH}/comboot/slider.min.css -->
<!-- ENDIF -->
<!-- IF $THEME_FILE == 1 -->
	<!-- INCLUDECSS {T_THEME_PATH}/comboot/bootstrap-theme.min.css -->
<!-- ENDIF -->

<!-- INCLUDEJS {T_THEME_PATH}/comboot/progressbar.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/bootstrap.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/autosize.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/pace.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/jquery.pjax.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/js.cookie.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/bootbox.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/colorpicker.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/select.min.js -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/highlight.min.js -->
<!-- IF $LIGHTBOX == 1 -->
	<!-- INCLUDEJS {T_THEME_PATH}/comboot/lightbox.min.js -->
	<!-- DEFINE $INCLUDED_LIGHTBOXJS = true -->
<!-- ENDIF -->
<!-- IF $VALUE_SLIDER == 1 -->
	<!-- INCLUDEJS {T_THEME_PATH}/comboot/slider.min.js -->
<!-- ENDIF -->
<!-- IF $AUTOSAVE == 1 -->
	<!-- INCLUDEJS {T_THEME_PATH}/comboot/autosave.min.js -->
<!-- ENDIF -->
<!-- INCLUDEJS {T_THEME_PATH}/comboot/comboot.js -->
